<head>
    <meta charset='utf-8'>	    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">	  
    <meta name="google-site-verification" content="KDs3KMqV-7Ubeolj3yTer2tYBVC_Mr6s9kkIq7FCgio" />
    <meta name="viewport" content="width=device-width,maximum-scale=2">	    
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">	    
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  
    
    {% seo %}	   

    <!-- Twitter cards -->
    <meta name="twitter:site"    content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ page.author }}">
    {% if page.title %}
    <meta name="twitter:title"   content="{{ page.title }}">
    {% else %}
    <meta name="twitter:title"   content="{{ site.title }}">
    {% endif %}

    {% if page.summary %}
    <meta name="twitter:description" content="{{ page.summary }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}

    {% if page.image %}
    <meta name="twitter:card"  content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.title_image }}">
    {% endif %}
    <!-- end of Twitter cards -->
</head>
