---
---

@import "{{ site.theme }}";

.table-holder {
    max-width: 100%;
    overflow-x: scroll;
}

.twitter {
    
}

.section {
    width: 700px;
    float: right;
    padding-bottom: 50px;
}

.post-menu {
 overflow-y: scroll;
 max-height: 240px;
    
}

.post-link {
     clear: both;
     float: left;
}


