---
---

@import "{{ site.theme }}";


#main_content {
    padding-top: 40px;
    max-width: 50em;
    margin: 0 10%;
}

#header_wrap .inner {
    max-width: none;
    margin: 0 10%;
}

.post-meta {
    color: #f2f2f2;
}

.post-title {
    color: white;   
    clear: both;
}

.table-holder {
    max-width: 100%;
    overflow-x: scroll;
}

.title_wrapper {
    clear: both;
}

#project_title {
    float: left;
}

#project_title a {
    color: white;   
}

.twitter {
    float: right;   
}

#header_wrap {
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(/assets/images/penrose.svg), linear-gradient(to top left, #f2f2f2, #212121);
}

#footer_wrap {
    background: #212121;
}
