---
layout: post
---

<blockquote>
  <p>These posts are my notes revisiting topics that I once knew or was taught, but have forgotten, and which seem more important now than they did at the time. 
    The motivation for writing these notes was explained in my <a href="/posts/review-of-2019-and-new-focus">review of 2019</a>.
    If you find mistakes, corrections are welcome on <a href="https://github.com/richardstartin/richardstartin.github.io/_posts" target="_blank">GitHub</a>. 
  </p>
</blockquote>

{{ content }}
