---
layout: post
---

<blockquote>
  <p>These posts are my notes revisiting topics that I once knew or was taught, but have forgotten, and which seem more important now than they did at the time. 
    I don't have professional expertise in the subject matter; the content may be superficial, wrong, or misleading, and has not been reviewed, but <a href="https://github.com/richardstartin/richardstartin.github.io" target="_blank">corrections</a> are welcome. 
    The topics will all be related to the characterisation, capture, and modeling of information system dynamics. The approach will be pragmatic, as opposed to rigorous and exhaustive.
    The motivation for writing these notes was explained in my <a href="/posts/review-of-2019-and-new-focus">review of 2019</a>.
  </p>  
  
  <p>Where no sources are cited, the content is derived from personal lecture notes.</p>
</blockquote>

{{ content }}
